* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 900px;
}

.search-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.search-box {
  width: 80%;
}

#search {
  width: 80%;
  padding: 10px;
  margin: 15px 0;
}

.search-box button {
  padding: 10px;
  width: 15%;
}

ul li {
  padding: 7px;
  cursor: pointer;
}

ul li span {
  padding: 7px;
}

ul li span:hover {
  background-color: rgb(212, 212, 212);
}

.total-results {
  display: none;
}

.pagination {
  display: flex;
}
.first,
.next,
.previous,
.last {
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid black;
  margin-right: 5px;
}
