@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&family=Noto+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  background-color: blanchedalmond;
}

ul li {
  list-style: none;
}

.container {
  max-width: 900px;
  /* height: 100vh; */
  margin: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  background-color: #395f75;
  padding: 0 8px;
  margin: 8px 0;
}

nav .nav-item {
  width: 5rem;
  padding: 7px 15px;
  background-color: rgb(32 58 73);
  text-align: center;
  margin-left: 5px;
}

nav .logo {
  margin-left: 0;
}
nav .nav-wrapper {
  display: flex;
}

nav .nav-item:hover {
  background-color: #384f5c;
}

/* nav .nav-item:last-child {
  margin-right: 5px;
} */

nav .nav-item a {
  text-decoration: none;
  color: white;
}

.search-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: cornflowerblue;
  background-image: url("./image/pexels-pixabay-357743\ \(1\).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 12rem;
}

.search-section .logo {
  margin: auto;
  margin-bottom: 0;
}

.logo {
  max-width: 200px;
}

.logo img {
  width: 100%;
}

#search {
  width: 80%;
  padding: 10px;
  margin: 15px 0;
}

form {
  width: 100%;
  margin: auto;
}

.search-box button {
  padding: 10px;
  width: 15%;
}

/* ul li span:hover {
  background-color: rgb(212, 212, 212);
} */

ul.list .loading {
  font-size: large;
  text-align: center;
  margin-top: 3rem;
}

ul .item-list {
  padding: 0.5rem 0;
}

ul .item-list .item-detail {
  margin-bottom: 8px;
  font-size: large;
  font-weight: 500;
  cursor: pointer;
  color: rgb(80, 80, 247);
}

ul .item-list .item-detail:hover {
  text-decoration: underline;
}

.item-list:first-child {
  padding-top: 0;
}

.total-results {
  display: none;
  /* color: gray; */
  opacity: 0.8;
  font-size: 16px;
  margin: 2rem 0;
}

.pagination {
  display: none;
  margin: 2rem auto;
  justify-content: center;
}
.first,
.next,
.previous,
.last,
.page-count {
  cursor: pointer;
  padding: 5px 10px;
  /* border: 1px solid black; */
  margin-right: 5px;
  width: 7rem;
  color: rgb(51, 51, 255);
  border: none;
}

.page-count {
  padding: 5px 10px;
  margin-right: 5px;
  width: 7rem;
  color: rgb(51, 51, 255);
}

button[type="submit"] {
  border-radius: 30px;
}

.bar {
  margin: 0 auto;
  width: 575px;
  border-radius: 30px;
  border: 1px solid #dcdcdc;
  padding-left: 20px;
  background: white;
}
.bar:hover {
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.bar:focus-within {
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  outline: none;
}
.searchbar {
  height: 45px;
  border: none;
  width: 500px;
  max-width: 100%;
  font-size: 16px;
  outline: none;
}

.info-block,
blockquote {
  width: 60%;
  text-align: center;
  margin: 2rem auto;
  font-size: 18px;
  font-weight: 600;
  padding: 1.4rem;
}

.info {
  background-color: rgb(224, 224, 224);
  padding: 15px;
  margin-top: 2rem;
}

.info h5 {
  font-size: 1.2rem;
}
.info p {
  padding: 10px 0;
}

span.unit {
  margin-left: 0.4rem;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

@media screen and (max-width: 900px) {
  .container {
    width: 90vw;
  }

  .bar {
    max-width: 60vw;
  }

  .searchbar {
    max-width: 50vw;
  }
}

@media screen and (max-width: 400px) {
  ul .item-list .item-detail {
    font-size: 18px;
    font-weight: 500;
  }

  ul .item-list .item-list-info {
    font-size: 16px;
  }
}

/* CSS for API */
.api-endpoint {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2rem;
}

.api-info,
.api-search-by-name,
.api-search-by-id {
  margin: 2rem 0;
}

.api-endpoint span {
  font-style: italic;
  font-size: 14px;
  color: rgb(132, 132, 255);
}

@media screen and (max-width: 450px) {
  .api-endpoint p {
    font-size: 14px;
  }
}

/* footer */
footer {
  height: 120px;
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  padding-top: 1.5rem;
  line-height: 1.5rem;
  background-color: #395f75;
  color: white;
  font-size: 14px;
}

footer a {
  text-decoration: none;
  color: white;
}

.contact img {
  margin-right: 10px;
}

.email,
.github,
.linkedin {
  display: flex;
  justify-content: flex-start;
}

@media screen and (max-width: 560px) {
  footer {
    flex-direction: column;
    padding: 1rem;
    align-items: center;
  }
}

/* ==========item-detail============ */
.food_name {
  text-align: center;
  font-size: 24px;
  margin: 2rem 0;
}

/* ============= About ============= */

.about h1 {
  margin-top: 2rem;
}

.about-info {
  display: flex;
  margin-top: 2rem;
}

.about-info p:first-child {
  margin-bottom: 2rem;
}

.about-info img {
  margin-right: 2rem;
  height: 100%;
}

@media screen and (max-width: 500px) {
  .about-info {
    flex-direction: column;
  }

  .about-info img {
    width: min-content;
    margin: auto;
    margin-bottom: 2rem;
  }
}

/* loader */
.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin: auto;
  margin-top: 3rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
